body {
font-size: 16px;
color: #fff;
background-color: #7f92a3;
font-family: 'Libre Baskerville', serif;
}
#header-nav {
	background-color: #454a68;
	border-radius: 0;
	border: 0;
	width: 100%;
}
#logo-img {
	background: url('../image/logo.png') no-repeat;
	width: 252px;
	height: 168px;
	margin: 5px 5px 10px 0;
}
.float-left {
	float: left;
}
.navbar-brand h1 {
	font-family: font-family: 'Carattere', cursive;
	font-weight: bold;
	line-height: .75;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	color: white;
}
.navbar-brand a:hover, .navbar-brand a:focus, .navbar-brand a:link {
	text-decoration: none;
}
.navbar-brand p {
	text-shadow: .7em;
	margin-top: 15px;
}
.navbar-brand p span {
	vertical-align: middle;
	color: white;
}
#nav-list {
	text-align: center;
	font-family: 'Dancing Script', cursive;
}
li a:hover, li a:focus, li a:link {
	text-decoration: none;
}
li a:link, li a:visited {
	color: #E7E7E7;
}
li a:hover {
	color: #f2ed55;
}
#phone {
	margin-top: 5px;
}
#phone a {
	text-align: right;
	padding-bottom: 0;
}
#phone div {
	color: #E7E7E7;
	text-align: right;
	padding-right: 15px;
}
div.container-fluid {
	position: relative;
}
ul.navbar-nav {
	position: absolute;
	right: 20px;
}